.selector {
  color: var(--Grayscale-40);
  font-size: 16px;
  border-width: 1.5px;
  border-radius: 8px;
  width: 100%;
  padding: 12px 16px;
  -webkit-appearance: none;
  appearance: none;
  transition: color 0.3s ease;
}
