.nowColor {
  width: 60px;
  min-height: 40px;
  cursor: pointer;
}

.savedColors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.savedColor {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .nowColor {
    width: 45px;
    min-height: 30px;
  }

  .savedColors {
    grid-gap: 5px;
  }

  .savedColor {
    width: 20px;
    height: 20px;
    margin: 1px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
}
