.coloringToolBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f0ece5;
  padding: 30px;
  border-radius: 20px;
  max-width: 18vh;
  max-height: 80vh;
  font-size: 1.8rem;
}

.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #ccd3ca;
  margin-bottom: 20px;
}

.clearButton:hover {
  background-color: #373740;
  color: #fff;
}

@media (max-width: 1199px) {
  .coloringToolBar {
    font-size: 1.4rem;
    max-width: 15vh;
    padding: 15px;
    gap: 10px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .coloringToolBar {
    font-size: 1.4rem;
    max-width: 15vh;
    padding: 15px;
    gap: 10px;
  }

  .clearButton {
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 0px;
    border-radius: 6px;
  }
}
