:root {
  --Grayscale-60: #000;
  --Grayscale-50: #515151;
  --Grayscale-40: #818181;
  --Grayscale-30: #cfcfcf;
  --Grayscale-20: #f9f9f9;
  --Grayscale-10: #fff;

  --Brown-50: #341909;
  --Brown-40: #542f1a;
  --Brown-30: #c7bbb5;
  --Brown-20: #e4d5c9;
  --Brown-10: #f5f1ee;

  --Blue-50: #1877f2;
  --Yellow-50: #fee500;
  --Red-50: #b93333;

  --Shadow-1pt: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
  --Shadow-2pt: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --Shadow-3pt: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);

  --bg: #f0f6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
  line-height: normal;
  font-family: Pretendard, Arial;
  word-break: keep-all;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  padding: none;
}

input:focus,
textarea:focus {
  outline: none;
}
