:root {
  --purple: ##7b68ee;
  --deep-purple: #5a478f;
  --pink: #ffb6c1;
  --deep-pink: #e4929b;
  --teal-blue: #008080;
  --deep-teal-blue: #006666;
  --golden-yellow: #ffd700;
  --deep-golden-yellow: #ccac00;
  --The-julge-black: #111322;
  --white: #ffffff;
  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;
  --bg: #f0f6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
  line-height: normal;
  font-family: Pretendard, Arial;
  word-break: keep-all;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  padding: none;
}

input:focus,
textarea:focus {
  outline: none;
}
