.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: 0885ff33;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 300px;
  height: 200px;
  border: 1px solid aqua;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.input-box {
  display: flex;
  gap: 30px;
}

.voice-input {
  width: 150px;
}
