.brushSettings {
  width: 100%;
}

.brushs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.brush {
  padding: 7px;
  border-radius: 10px;
}

.brushTool {
  width: 40px;
  height: 40px;
  position: relative;
}

.brushSelected {
  background-color: #ccd5e3;
}

.brushSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indicatorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 65px;
}

.brushSizeIndicator {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #373740;
}

.brushSizeRange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.range {
  width: 110px;
}

@media (max-width: 1199px) {
  .brushs {
    gap: 10px;
  }

  .brushTool {
    width: 30px;
    height: 30px;
  }

  .indicatorBox {
    height: 65px;
  }

  .range {
    width: 90px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
}
